.footer-container {
    display: flex;
    width: 100%;
    background-color: #f1f1f1;
    justify-content: space-evenly;
    align-items: flex-start;
    color: black;
    padding: 1rem;
    bottom: 0;
    position:absolute ;
    
}